﻿
@{
    ViewData["Title"] = "ShowLog";
}

<h1>Conversion Logs</h1>
<hr>

<link rel="stylesheet" href=" https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<table id="productTable" class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Convert From</th>
            <th>Convert To</th>
            <th>InputValue</th>
            <th>Converted Value</th>
            <th>Converted Date</th>
            @*<th>Rate</th>*@
        </tr>
    </thead>
</table>



<script>
    $(document).ready(function () {

        $('#productTable').dataTable({
            "ajax": {
                "url": "/Home/GetLogs",
                "dataType": "json",
                "cache": false,
                "dataSrc": ""
            },
            "order": [[0, "desc"]],
            columns: [
                { 'data': 'id' },
                { 'data': 'convertFrom' },
                { 'data': 'convertTo' },
                { 'data': 'inputValue' },
                { 'data': 'convertedValue' },
                { 'data': 'logDate', "render": function (data) { return moment(data).format('YYYY/MM/DD hh:mm a') } },              
                //{ 'data': 'rate' },
            ]
        });
    });

</script>

